
/* --- Master css --- */
@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "animate.min.css";
@import "swiper.min.css";
@import "owl.carousel.min.css";

/*Revolution Slider*/
@import "settings.css";

/*CountDown Timer*/
@import "dscountdown.css";

/*popup fancybox on images*/
@import "jquery.fancybox.min.css";

/*galleries grids , filters*/
@import "cubeportfolio.min.css";

/*custom scrollerbar*/
@import "simplebar.css";

/*youtube background video*/
@import "jquery.mb.YTPlayer.min.css";
