@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1,h2,h3, #single-parallx blockquote, .count_nums, .our-countdown .ds-element-value{
    font-family: 'BebasNeueRegular';
}


p{
    font-family: 'Open Sans';
}


